 body{
    background-color: blue;
	font-family:Arial, sans-serif;
   } 
   p{
   color:red;
   font-size: 26;
   text-align:center;
   }
   h1{
   color:blue;
   font-weight:bold;
   font-size: 26;
   text-align:center;
   }
   
   .main-menu{
   background:green;
   }